@model SliderModel

@{
    ViewBag.PageTitle = T("codeislife.Widgets.CilSlider.Sliders.AddNew").Text;
}

<form asp-controller="CilSlider" asp-action="Create" method="post" id="slider-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("codeislife.Widgets.CilSlider.Sliders.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("codeislife.Widgets.CilSlider.Sliders.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/codeislife.Widgets.CilSlider/Views/Slider/_CreateOrUpdate.cshtml", Model)
</form>