@{
    Html.AppendScriptParts("~/Plugins/codeislife.Widgets.CilSlider/Content/lib/swiper/swiper-bundle.js");

    Html.AppendCssFileParts("~/Plugins/codeislife.Widgets.CilSlider/Content/css/style.css");
    Html.AppendCssFileParts("~/Plugins/codeislife.Widgets.CilSlider/Content/lib/swiper/swiper-bundle.css");
}

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
</div>



<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>